liesl~=0.3.4.8
setuptools~=52.0.0
pylsl~=1.14.0
numpy~=1.20.2
matplotlib~=3.4.0
h5py~=3.4.0
psycopg2~=2.9.1
pyxdf~=1.16.3
psychopy~=2021.1.3
pandas~=1.2.3
psutil~=5.8.0
sshtunnel 
PySimpleGUI
opencv-python
