<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Neurobooth</title>
</head>
<body>
<div class="container-sm" id='main'>
    <h1>Neurobooth</h1>
    <div class="container" id="content-container">
        <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="subj_id_input" placeholder="Subject ID"
                   aria-label="Subject's ID"
                   autofocus="autofocus">
            <button type="button" class="btn btn-primary" id="subj-search-btn">Search</button>
        </div>
        </form>
        <table class="table table-success" id="subject_table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Middle</th>
                <th scope="col">Last</th>
                <th scope="col">Date of Birth</th>
            </tr>
            </thead>
            <tbody id="subject_table_body">
            </tbody>
        </table>
        <form>
            <div class="mb-3">
                <label for="staff_id_input" class="form-label">Staff ID</label>
                <input type="text" class="form-control" id="staff_id_input" placeholder="Please enter your id" required>
            </div>
            <div class="mb-3">
                <label for="study_select" class="form-label">Study</label>
                <select class="form-select" id="study_select">
                    {% for study in study_ids %}
                    <option value="{{study}}">{{study}}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="mb-3">
                <label for="collection_select" class="form-label">Collection</label>
                <select class="form-select" id="collection_select" disabled>
                    <option selected>Select a task collection</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="tasks_label" class="form-label">Tasks</label>
                <input type='text' class="form-control" id="tasks_label" readonly tabindex="-1">
            </div>
            <button type="button" class="btn btn-primary">Save and continue</button>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script lang="javascript">

    // On study option select event, populate and enable the collection list
    $('#study_select').change(function() {
        const selected_study = $(this).val()
        const $cs = $("#collection_select");
        if (this.options[0].text == selected_study) {
            col_sel = document.getElementById("collection_select")
            col_sel.options[0].selected = 'selected'
            $cs.prop("disabled", true);
            $("#tasks_label").val("")
            return
        }
        $cs.prop("disabled", false);
        const col_url = 'http://127.0.0.1:8082/get_collections/'+selected_study;
        $.ajax({
        type: 'GET', url:col_url,
        error: function(xhr) {
            alert("An error occurred: " + xhr.status + " " + xhr.statusText);
        },
        success: function(response) {
            const resp_json = JSON.parse(response);
            const collections = resp_json[selected_study]
            $cs.empty();
            for (const c of collections) {
                $cs.append(new Option(c, c));
            }
    }});})

    // On collection option select event, populate and enable the tasks input
    $('#collection_select').change(function() {
        const selected_col = $(this).val()
        const task_url = 'http://127.0.0.1:8082/get_tasks/'+selected_col;
    $.ajax({
        type: 'GET', url:task_url,
        error: function(xhr) {
            alert("An error occurred: " + xhr.status + " " + xhr.statusText);
        },
        success: function(response) {
            const resp_json = JSON.parse(response);
            const tasks = resp_json[selected_col]
            const $tl = $("#tasks_label");
            const task_list = tasks.join()
            $tl.val(task_list);

    }});})

    // If user hits enter in subject input, click the search button
    $('#subj_id_input').keypress(function(e) {
        if(e.which == 13) {
            jQuery(this).blur();
            jQuery('#subj-search-btn').click();
            return false;
        }
    });

    // On subject search button click, search for the subject id and populate table
    $('#subj-search-btn').click(function () {
        const s_id = $('#subj_id_input').val();
        const subj_url = 'http://127.0.0.1:8082/get_subject/'+s_id;
        $("#subject_table_body").empty();
    $.ajax({
        type: 'GET', url:subj_url,
        error: function(xhr) {
            if (xhr.status === 404) {
                alert("Subject " + s_id + ' was not found.');
            } else
                alert("An error occurred: " + xhr.status + " " + xhr.statusText);
        },
        success: function(response) {
            const json_response = JSON.parse(response);
            $("#subject_table").find('tbody')
            .append($('<tr>')
                .append($('<td>')
                    .text(json_response.subject_id)
                )
                .append($('<td>')
                    .text(json_response.first_name_birth)
                )
                .append($('<td>')
                    .text(json_response.middle_name_birth)
                )
                .append($('<td>')
                    .text(json_response.last_name_birth)
                )
                .append($('<td>')
                    .text(json_response.date_of_birth.split('T')[0])
                )
            );
            $("#staff_id_input").focus()
        }
      })
    })
</script>
</body>
</html>