.text-center {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

#video_player {
  align-items: center;
  position: initial;
  width: 100%;
}

#vid_container {
  align-content: center;
  align-items: center;
}

